<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight States Map</title>

    <!-- Adicione essas linhas para incluir o Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</head>
<body>

    <h2>Flight States Map</h2>

    <!-- Adicione um contêiner para o mapa -->
    <div id="map" style="height: 750px;"></div>

    <!-- Adicione um bloco de script separado -->
    <script>

        // Use Leaflet para criar o mapa
        var mymap = L.map('map').setView([0, 0], 2);  // Coordenadas iniciais e nível de zoom
        // Adicione um provedor de mapeamento do OpenStreetMap
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors'
        }).addTo(mymap);
        // Adicione marcadores para as posições dos voos
        for(var i = 0;i<states.length;i++){
            var marker = L.marker([states[i].latitude, states[i].longitude]).addTo(mymap);
        }

    
    </script>

</body>
</html>


